<template name="Frontpage">
    <div class="col-lg-12" align="center">{{> Projects}}</div>
    <!-- Some overview thingy should be here, not just a gotoproject-thing-->
</template>

<template name="Suggest">
    <div class="col-lg-12" align="center">
        <label for="new-suggestion-title">Title:</label>
        <input type="text" id="new-suggestion-title" value="">
        <label for="new-suggestion-content">Your suggestion:</label>
        <textarea id="new-suggestion-content"></textarea>
        <button id="suggest">Suggest it!</button>
    </div>
</template>

<template name="Suggestions">
    {{> Suggest projectId=projectId}}
    <div class="col-lg-6">
        <h3>Highest rated</h3>
        <table align="left">
            {{#each Suggestion}}
            <tr>
              <button class="btn btn-sm btn-success" id="upVote">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
              <button class="btn btn-sm btn-danger" id="downVote">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </button><td><b>{{score}}</b></td> <td>  {{title}}</td>
              </tr>
            {{/each}}
        </table>
    </div>

    <div class="col-lg-6">
        <h3>Latest suggestions</h3>
        <table align="left">
            {{#each NewSuggestion}}
                <tr>
                  <button class="btn btn-sm btn-success" id="upVote">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                  </button>
                  <button class="btn btn-sm btn-danger" id="downVote">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                  </button><td><b>{{score}}</b></td> <td>  {{title}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>

<template name="Projects">
    <h4>Goto project:  |{{#each Project }} <a href="projects/{{_id}}">{{name}}</a> | {{/each}}</h4>
</template>